html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    position: relative;
}

.background-image {
    /*background-image: url('morro-bay-wallpaper.jpeg'); /* Replace with the path to your image */
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 66.666%; /* 2/3 of the page */
    height: 100%;
    overflow: hidden;
}
.background-image::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), 
        url('morro-bay-wallpaper.jpeg'); /* Replace with the path to your image */;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
}


.about-image {
    width: 500px; /* Set your desired width */
    height: 500px; /* Set your desired height */
    overflow: hidden;
    margin-left: 50px;
}

.about-image img {
    width: 80%;
    height: 80%;
    object-fit: cover; /* This property will crop the image */
}
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 9%;
    z-index: 10;
  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  
    background-color: white;
    color: black;
    padding: 0px 0px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 0px;
    list-style: none;
  }

  .navbar a {
    color: black;
    font-weight: lighter;
    margin: 0 12px;
    text-decoration: none;
    letter-spacing: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar a:hover {
    color: green;
    text-decoration: underline;
}
  
  .navbar a:active {
    color: green;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    font-family: sans-serif;
  }


  